body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Abhaya Libre', serif;
}

header {
    background-color: rgba(100, 159, 189, 0.7); /* Full opacity */
    color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 100;
    transition: background-color 2s ease; /* Smooth transition for color change */
}

.logo-name {
    display: flex;
    align-items: center;
}

.logo-name .logo {
    width: 150px; /* Adjust based on your logo's size */
    margin-right: 10px;
    padding: 10px;
}

nav#navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

nav#navbar ul li {
    margin: 0 10px;
}

nav#navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-weight: 500; /* Make text bolder */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Add shadow for depth */
    transition: color 0.3s ease; /* Smooth transition for hover effect */
}

nav#navbar ul li a:hover {
    color: #adefff; /* Lighter blue for hover, adjust as needed */
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
}

/*--------------------------------------------------------------
# Home Section
--------------------------------------------------------------*/

#home .carousel {
    position: relative;
    width: 100%;
    height: 100vh; /* Make the carousel full screen */
    overflow: hidden;
}

#home .carousel-slide {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: opacity 0.5s ease;
    opacity: 0; /* Hide all slides initially */
}

#home .carousel-slide.active {
    opacity: 1; /* Only show the active slide */
}

.carousel-text {
    position: absolute;
    left: 20px; /* Left alignment padding */
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 7em;
    font-weight: bold;
    line-height: 1.2;
    padding: 20px;
    border-radius: 10px; /* Optional: adds rounded corners */
}

.carousel-text div {
    text-align: left; /* Ensures text alignment is uniform */
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7); /* Black shadow for contrast */
    padding-left: 0; /* Adjust based on overall .carousel-text padding */
}

/*--------------------------------------------------------------
# Feature Section
--------------------------------------------------------------*/

/* General styling for the feature section container */
#features {
    background: #f9f9f9;
    min-height: 100vh;
    box-sizing: border-box;
    font-weight: 500;
}

/* Styling for the tabs container */
.page-tabs {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;
}

/* Default styling for each tab header */
.page-tabs-header {
    display: flex;
    flex-grow: 1;
    background-color: #ffffff;
    border-right: 3px solid #dcdcdc;
    transition: all 0.3s ease-in-out;
    padding-top: 60px;
}

.page-tabs-header:hover {
    background-color: #f2f2f2;
}

.page-tabs-header.active {
    background-color: #f2f2f2;
}

.page-tabs-header-container {
    cursor: pointer;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.page-tabs-header-container.active::before {
    content: '';
    display: inline-block;
    transform: translateX(10%);
    width: 30px;
    height: 30px;
    background-image: url('../img/pin.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.page-tabs-header-container.active {
    font-weight: bold;
}

.icons {
    height: 40px;
    width: 40px;
    position: absolute;
    transform: translateX(-50%);
    bottom: 10px;
}

.page-tabs-header-letters div {
    font-size: 3rem;
    color: #333;
    margin: 0.2rem;
    text-transform: uppercase;
}

.tabcontent {
    display: flex; /* Use Flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: auto; /* Adjust height as needed */
    width: 100%; /* Full width */
    min-width: 70vw; /* Minimum width */
    text-align: center; /* Center text if needed */
    display: none; /* Keep this to hide content initially */
}

.tabcontent.active {
    display: flex; /* Changed to flex to maintain the flex container properties */
}

.iphone-screen img {
    width: 100%; /* Default to full width on small screens */
    height: auto;
    max-width: 300px; /* Ensures image does not exceed its original size */
}
